<section class="relative flex flex-col items-center justify-center min-h-[70vh] px-6 text-center custom-gradient-bg"
    id="home">
    <div class="max-w-3xl mx-auto space-y-8">
        <div class="flex justify-center">
            <div class="size-28 rounded-full flex items-center justify-center overflow-hidden">
                <img src="assets/logo_personal.png" alt="KR Logo" class="w-full h-full object-contain rounded-full" />
            </div>
        </div>
        <div class="space-y-6">
            <h1
                class="text-slate-900 dark:text-slate-100 text-3xl sm:text-5xl md:text-4xl lg:text-6xl font-black leading-tight tracking-tight">
                Desarrollador <span class="text-primary block sm:inline">Full Stack</span>
            </h1>
            <p
                class="text-slate-600 dark:text-slate-400 text-base sm:text-lg md:text-xl max-w-2xl mx-auto font-medium px-4">
                Desarrollador Full Stack Junior con formación en tecnologías modernas como React, Django y MySQL.
                Experiencia en el desarrollo de aplicaciones web completas, incluyendo interfaces dinámicas, APIs
                seguras y bases de datos relacionales.
            </p>
        </div>
        <div class="flex flex-col sm:flex-row flex-wrap justify-center gap-4 pt-4 w-full sm:w-auto px-4">

            <a href="assets/CV_Christopher_Rodriguez_Ruiz_Full_Stack.pdf" download="CV_Christopher_Rodriguez.pdf"
                class="flex w-full sm:w-auto min-w-[160px] items-center justify-center gap-2 rounded-xl bg-primary px-8 py-4 text-white font-bold transition-transform hover:scale-105 shadow-xl shadow-primary/20">
                <span class="material-symbols-outlined">download</span>
                Descargar CV
            </a>

            <a href="https://github.com/khris-47" target="Khris_47"
                class="flex w-full sm:w-auto min-w-[160px] items-center justify-center gap-2 rounded-xl bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-700 px-8 py-4 text-slate-800 dark:text-slate-100 font-bold transition-all hover:scale-105 hover:bg-slate-50 dark:hover:bg-slate-700">
                <span class="material-symbols-outlined">terminal</span>
                Ver Github
            </a>
        </div>

    </div>
</section>